[submodule "vector_store/hnswlib"]
	path = vector_store/hnswlib
	url = https://github.com/TIC-13/hnswlib.git
[submodule "vector_store/rapidcsv"]
	path = vector_store/rapidcsv
	url = https://github.com/TIC-13/rapidcsv.git
